Repository DanielAvdar/pandas-pyarrow: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, pylint, mypy

black:
  name: black
  entry: black
  language: python
  args:
  - --line-length
  - '100'
  - .

flake8:
  name: flake8
  entry: flake8
  language: python
  args:
  - --config=.flake8

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn
  - --rcfile=.pylintrc
  - --fail-on=I

mypy:
  name: mypy
  entry: mypy
  language: python
  args:
  - --config-file
  - mypy.ini

Update code formatting and line length limit
  .pre-commit-config.yaml
Due: none

pre-commit fix
  .pre-commit-config.yaml
Due: none

Reordered hooks in pre-commit configuration
  .pre-commit-config.yaml
Due: none

Refactored project configuration settings
  .flake8
  .isort.cfg
  .pylintrc
  mypy.ini
  pyproject.toml
Due: none

Refactor and simplify Python test suites
  schemarrow/mappers/__init__.py
  schemarrow/mappers/datetime_mapper.py
  schemarrow/mappers/numeric_mapper.py
  schemarrow/schema_arrow.py
  tests/intg/test_db_date_dtypes.py
  tests/intg/test_db_general_dtypes.py
  tests/unit/property_based/pb_sts.py
  tests/unit/property_based/test_general.py
  tests/unit/property_based/test_numeric.py
  tests/unit/test_add_dtypes_mapper_types.py
  tests/unit/test_dt_types.py
  tests/unit/test_numeric_types.py
  tests/unit/test_object_types.py
Due: black, flake8, pylint, mypy

Rename parameter 'default_to_source' in SchemArrow
  schemarrow/schema_arrow.py
Due: black, flake8, pylint, mypy

Remove commented code in pyproject.toml
  pyproject.toml
Due: none

Improve pre-commit hooks and mypy settings
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Update arguments in pre-commit hooks
  .pre-commit-config.yaml
Due: none

Refactor pyproject.toml for readability and maintainability
  pyproject.toml
Due: none

Refactor NumericTimeMapper class into a function
  schemarrow/mappers/__init__.py
  schemarrow/mappers/numeric_mapper.py
  tests/unit/property_based/test_numeric.py
Due: black, flake8, pylint, mypy

Adjust docstring format in SchemArrow class
  schemarrow/schema_arrow.py
Due: black, flake8, pylint, mypy

Update pre-commit configuration file, add fix option to ruff checks.
  .pre-commit-config.yaml
Due: none

Refactor DateTimeMapper to a function.
  schemarrow/mappers/__init__.py
  schemarrow/mappers/datetime_mapper.py
Due: black, flake8, pylint, mypy

add codecov
  .github/workflows/ci.yml
Due: none

fix code cov
  .github/workflows/ci.yml
Due: none

Refactor numeric_mapper to use a filter function
  schemarrow/mappers/numeric_mapper.py
Due: black, flake8, pylint, mypy

Add poetry.lock file to track project dependencies
  poetry.lock
Due: none

Update ci.yml
  .github/workflows/ci.yml
Due: none

Optimize GitHub workflows configuration
  .github/workflows/ci.yml
  .github/workflows/code-checks.yml
Due: none

Update dependencies and resolve optional setting
  poetry.lock
  pyproject.toml
Due: none

Add Ruff badge and update Codecov link in README
  README.md
Due: none

Simplify GitHub action workflow for publishing package
  .github/workflows/publish.yml
Due: none

Update CI/CD workflow, enhance tests, and add coverage run
  .github/workflows/ci.yml
Due: none

Remove several packages from poetry.lock file
  poetry.lock
  pyproject.toml
Due: none

Refactor SchemArrow to "PandasArrowConverter"
  .github/workflows/ci.yml
  README.md
  pandas_pyarrow/__init__.py
  pandas_pyarrow/mappers/__init__.py
  pandas_pyarrow/mappers/datetime_mapper.py
  pandas_pyarrow/mappers/db_types.py
  pandas_pyarrow/mappers/dtype_mapper.py
  pandas_pyarrow/mappers/numeric_mapper.py
  pandas_pyarrow/pda_converter.py
  poetry.lock
  pyproject.toml
  schemarrow/__init__.py
  tests/intg/test_db_date_dtypes.py
  tests/intg/test_db_general_dtypes.py
  tests/unit/property_based/test_dt.py
  tests/unit/property_based/test_general.py
  tests/unit/property_based/test_numeric.py
  tests/unit/test_add_dtypes_mapper_types.py
  tests/unit/test_dt_types.py
  tests/unit/test_numeric_types.py
  tests/unit/test_object_types.py
Due: black, flake8, pylint, mypy

Update README.md badges' links
  README.md
Due: none

Update project keywords in pyproject.toml and installation command in README.md
  README.md
  pyproject.toml
Due: none

Add cachetools, certifi, charset-normalizer, and google-api-core packages
  poetry.lock
  pyproject.toml
Due: none

Update project name in CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

"Refactor import path in pda_converter.py"
  pandas_pyarrow/pda_converter.py
Due: black, flake8

Add new test cases in numeric_types and general test files
  tests/unit/property_based/test_general.py
  tests/unit/test_numeric_types.py
Due: black, flake8

Update class description in PandasArrowConverter
  pandas_pyarrow/pda_converter.py
Due: black, flake8

Refactor dtype checking and conversion in tests
  pandas_pyarrow/pda_converter.py
  tests/unit/property_based/test_general.py
Due: black, flake8

Update module imports in mappers/__init__.py
  pandas_pyarrow/mappers/__init__.py
Due: black, flake8

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Refactor test case names for clarity
  tests/unit/test_numeric_types.py
Due: black, flake8

Refactor test cases for better readability
  tests/unit/test_add_dtypes_mapper_types.py
  tests/unit/test_dt_types.py
  tests/unit/test_numeric_types.py
  tests/unit/test_object_types.py
Due: black, flake8

Added converter instance to module imports
  README.md
  pandas_pyarrow/__init__.py
Due: black, flake8

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  pylint: any of: schemarrow and \.py$
  mypy: any of: schemarrow and \.py$
